{% extends "layout.html" %}

{% block body %}
<p>
    This is the body of the index.
</p>
<p>
    {{salutation}}
</p>
<div class="cat-holder">
    <input type="button" value="Next cat" id="next-cat">
    <img src="/static/img/cat0.jpg" alt="Cat zero">
    <img src="/static/img/cat1.jpg" alt="Cat one">
    <img src="/static/img/cat2.jpg" alt="Cat two">
    <img src="/static/img/cat3.jpg" alt="Cat three">
</div>
{% endblock %}

{% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %}
