body {
    max-width: 800px;
    margin: 2rem auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #8ac5c3;
}

footer {
    background-color: #edece8;
}

div.cat-holder img {
    width: 200px;
    display: none;
}

img#chosen-cat {
    display: block;
}
